body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  color: #333333;
  font-size: 90%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 1.5rem;
}

#div-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 1rem;
}

#title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 150%;
}

.div-player {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 1rem
}

.div-player > button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
  padding: 1px 4px;
  user-select: none;
}

button:disabled > img {
  opacity: 0.25;
}

#speed {
  width: 5rem;
  margin: 0 0.5rem;
}

.div-panel{
  display: flex;
  flex-direction: column;
}

.panel-title {
  margin: 1rem 0 0.5rem 0;
}

.panel-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

#div-settings {
  display: flex;
}

.settings-label {
  width: 4rem;
  margin-left: 0.25rem;
}

.settings-value {
  width: 4rem;
}

.settings-pattern {
  width: 1.2rem;
}

.settings-pattern-label {
  width: 3rem;
}

.invalid {
  background-color: #ffdddd;
}

#div-monitor {
  display: flex;
}

.monitor-label {
  width: 7rem;
  margin-left: 0.25rem;
}

.monitor-value {
  width: 3rem;
  color: #3377ff;
  text-align: right;
}
